.header {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
    max-height: 80px;
}